{% extends "html/base.html" %}

{% block head %}
    <script type="text/javascript" src="../../../static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../../static/js/master.js"></script>

    <!-- qunit -->
    <link type="text/css" rel="stylesheet" href="../../../static/css/tests/qunit-1.11.0.css" />
    <script type="text/javascript" src="../../../static/js/tests/qunit-1.11.0.js"></script>
    {% block test %}
    {% endblock %}
    <!-- home-test.js -->
{% endblock %}

{% block body %}
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
{% endblock %}