<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Login with OpenID</title>
	<!-- Simple OpenID Selector -->
	<link type="text/css" rel="stylesheet" href="../../static/css/openid.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/js/openid-jquery.js"></script>
	<script type="text/javascript" src="../../static/js/openid-en.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			openid.img_path = '../../static/img/';
			openid.init('openid_identifier', 'openid_return_url', 'next', '{{ next }}');
		});
	</script>
	<!-- /Simple OpenID Selector -->
	<style type="text/css">
		/* Basic page formatting */
		body {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
	</style>
</head>

<body>
	<form action="/login" method="post" id="openid_form">
	</form>
</body>
</html>